#name {
  color: var(--green);
}

.hero {
  height: 100vh;
  display: flex;

  /* background-image: linear-gradient(red, blue); */
  /* background-color: var(--background-color, red); */
}

.hero .wrapper {
  margin: auto;
  max-width: 1100px;
}

.hero .wrapper #name {
  border-bottom: 1px solid var(--color);
}

.hero .wrapper ul {
  padding-left: 0;
  list-style-type: none;
}

.hero .wrapper ul li {
  display: inline-block;
  margin-right: 5px;
}

.hero .wrapper ul li .heroButton {
  padding: 10px 10px;

  color: var(--color);
  /* background-color: black; */
  /* border-radius: 10px; */
  /* border: 1px solid black; */
}

.hero ul li.resumeButton {
  float: right;
  margin-right: 0;
  
  background-color: transparent;
  box-shadow: 0 0 2px var(--color);
}