:root {
  --background-color: white; 
  --color: black;

  --dark-background-color: #0d1117; 
  --dark-color: #c6cdd5;

  /* misc. colors: */
  --green: #7ce38b;

  --section-padding: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

body, button {
  font-family: 'Quicksand', serif;
}

body, h1, h2, h3, h4, p {
  margin: 0
}

a {
  text-decoration: none;
}

.title {
  font-size: clamp(40px, 8vw, 80px);
}

.title-small {
  font-size: clamp(32px, 6vw, 60px);
}

.section {
  padding: var(--section-padding) 150px;
  margin: auto;
  
  max-width: 1000px;
  min-height: 100vh;
}

@media screen and (max-width: 1200px) {
  .section {
    padding: var(--section-padding) 150px;
  }
  
}

@media screen and (max-width: 960px) {
  .section {
    padding: var(--section-padding) 75px;
  }

}

@media screen and (max-width: 480px) {
  .section {
    padding: var(--section-padding) 50px;
  } 
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-background-color);
    --color: var(--dark-color)
  }
}
