:root {
  --background-color: white; 
  --color: black;
}

html {
  scroll-behavior: smooth;
}

body, button { font-family: 'Quicksand', serif; }

body, h1, h2, h3, h4 {
  margin: 0
}

a {
  text-decoration: none;
  color: var(--color);
}

.title {
  color: var(--color);
}

.section {
  margin: 0 300px;
  min-height: 100vh;
}

@media screen and (max-width: 1200px) {
  .section {
    margin: 0 150px;
  }

}

@media screen and (max-width: 480px) {
  .section {
    margin: 0 50px;
  }

}
