.projects {
  display: flex;
  flex-flow: column;
  
  margin: 10px;
  margin-bottom: 0;
}

.projectCard {
  display: flex;
  flex-flow: row;

  /* wrt the ul of tools: <...> .toolList li */
  margin-bottom: 15px;
}

.projectCard .info {
  flex: 3;
}

.projectCard .info .textBox {
  width: fit-content;
  
  /* distance from image, overwritten if column style: */
  /* margin-right: 10px; */
  margin-bottom: 5px;
  padding: 5px; 

  box-sizing: border-box;

  box-shadow: 0 0 2px black;
}

.projectCard .info .textBox.title {
  margin-bottom: 10px;
}

.projectCard .info .toolList {
  padding-left: 0;
  margin: 0;
  
  list-style-type: none;
}

.projectCard .info .toolList li {
  display: inline-block;
  
  margin-bottom: 5px;
  padding-right: 15px;
}

.projectCard .info .toolList li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 1200px) {
  .projects {
    margin: 10px;
    margin-bottom: 0;
  }
}

/* needs adjustment */
@media screen and (max-width: 960px) {
  .projects {
    margin: 0;
    margin-top: 10px;
  }
  
  .projectCard {
    flex-flow: column;
  }

  .projectCard .info .textBox {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {

}